* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

:root{
    --pink: #ED107A;
    --white: #FFFFFF;
    --half-half-white: #FFFFFF50;
    --half-white: #FFFFFF80;
    --gray: #6F6F6F;

}

.dark-mode{
    --cor-fundo: rgba(0, 0, 0, 0.898);
    --cor-cinza: #575757;
    --cor-cinza-claro: #C3C3C3;
  }

  body{
    background-color: var(--cor-fundo);
    .inicio > .tarefas {
        & h1{
            color: var(--cor-cinza-claro);
        }
    }
    .container > .item{
        background-color: var(--cor-cinza);
        & h3{
            color: var(--cor-cinza-claro);
        }
        & h5{
            color: var(--cor-cinza-claro);
        }
    }
  }

header {
    width: 100%;
    background-color: var(--pink);
    padding: 16px 100px;
    display: flex;
    align-items: center;
    gap: 70px;
    color: var(--white);
    & h1{
        font-size: 26px;
    }
    & .pesquisa{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 16px;
        & span{
            width: 46px;
            line-height: 46px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            transition-duration: 200ms;
            &:hover{
                background-color: var(--half-half-white);
            }
        }

    }
    & #meuInput{
        display: block;
        width: 500px;
        height: 46px;
        background-color: transparent;
        border: 2px solid var(--white);
        border-radius: 5px;
        padding-left: 10px;
        &::placeholder{
            color: var(--half-white)
        }

    }
    & button{
        background-color: var(--pink);
        color: var(--white);
    }
    & #light_mode:hover{
        cursor: pointer;
    }
}

.inicio{
    display: flex;
    justify-content: space-between;
    padding: 36px 100px;
    & .tarefas{
        color: var(--gray);
    }
    
    & .box{
        display: flex;
        align-items: center;
        justify-content:center ;
        gap: 10px;
        background-color: var(--pink);
        width: 161px;
        height: 46px;
        border-radius: 5px;
        & h3{
            font-weight: 700;
            font-size: 14px;
            color: var(--white);
            line-height: 28px;
        }
        & span{
            background-color: #ED107A;
            color: #FFFFFF;
        }
        }
    & .box:hover{
        cursor: pointer;
    }
    }
    
    .container{
        display: flex;
        gap: 5px;
        justify-content: space-between;
        padding: 36px 100px;
        & .item{
            flex: 1;
            width: 318px;
            height: 163px;
            border-radius: 5px;
            box-shadow: 0px 5px 10px #00000050;
            padding: 15px 15px;
            & .data{
                display: flex;
                justify-content: space-between;
                padding: 50px 5px;
                
            }
            & p{
                color: #808080;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
            & h3{
                color: #2D2D2D;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
            }
            & h5{
                color: #2D2D2D;
                font-weight: 700;
                font-size: 10px;
                line-height: 18px;
            }
        }

        & .item:hover{
            box-shadow: 0px 5px 10px #ED107A20;
            cursor: pointer;
            & #delete{
                color: var(--pink);
            }
        }
    }

    @media only screen and ( max-width: 1024px ){
        header {
            display: flex;
            gap: 10px;
        }
    }

    @media only screen and ( max-width: 600px ) {
        body{
            width: 100%;
        }
        header {
            padding: 40px 100px;
            height: 110px;
            padding-top: 10px;
            
            & h1 {
                position: absolute;
                left: 10px;
            } 

            & .pesquisa{
                & #meuInput{
                    display: none;
                    position: absolute;
                    top:60px;
                    right: 20px;
                }
                & span{
                    position: absolute;
                    right: 50px;
                }    
            }

            & button{
                position: absolute;
                right: 10px;
            } 

        }
        
        .inicio{
            .box{
                width: 50px;
                height: 50px;
                border-radius: 25px;
                box-shadow: 0px 4px 4px 0px #00000025;
                position: fixed;
                bottom: 20px;
                right: 50px;
                h3{
                    display: none;
                }
            }
            .tarefas{
                position: absolute;
                left: 20px;
            }
        }
        .container{
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            display: grid;
            & .item{
                width: 535px;
                height: 200px;
                
            }
        }
    }
